@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background: #000;
  color: #fff;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 90%;
  margin: auto;
}